/* Estilos-generales */
body{
	font-family: Verdana;
	margin: 0px;
}

/* Secciones */
#seccion-incio{
	text-align: center;
	padding: 50px;
}
#seccion-platos{
	background-color: #FE9E0C; 
	text-align: center;
	padding: 50px;
}
#seccion-contacto{
	text-align: center;
	padding: 50px; 
}

/* Bloques */
.bloque-logotipo{
	text-align: center;
	padding: 20px;
}
.bloque-menu{
	text-align: center;
}

.bloque-inicio-texto{
	width: 500px;
	height: 300px;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.bloque-inicio-imagen{
	width: 500px;
	height: 300px;
	display: inline-block;
	vertical-align: middle;
}
.descripcion-plato{
	padding: 20px;
}

/* Imagenes */
.imagen-logo{
	height: 100px;
}
.imagen-inicio{
	width: 400px;
}
.imagen-plato{
	width: 100%;
}


/* Textos */
.item-menu{
	text-decoration: none;
	color: black;
	font-size: 20px;
}
.item-menu-1{
	text-decoration: none;
	color: #FE9E0C;
	font-size: 20px;
}
.texto-titulo{
	color: black;
	font-size: 40px;
}
.texto-descripcion{
	color: #C4C4C4;
	font-size: 20px;
}
.seccion-platos-titulo{
	color: white;
}
.nombre-plato{
	font-size: 16px;
}
.precio-plato{
	font-size: 25px;
}

/* Botones */
.boton-inicio, .boton-plato{
	background-color: #FE9E0C;
	border: none;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	margin: 3px;
}
.boton-formulario{
	background-color: #FE9E0C;
	border: none;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;
	width: 525px;
}

article{
	background-color: white;
	width: 300px;
	display: inline-block;
	margin: 40px;
}

/* Formulario */
.entrada-texto{
	background-color: #E5E5E5;
	border: none;
	height: 30px;
	padding: 15px;
	margin: 3px;
	width: 500px;
}
.entrada-texto-grande{
	background-color: #E5E5E5;
	border: none;
	height: 150px;
	padding: 15px;
	margin: 3px;
	width: 500px;
}
form{
	padding: 25px;
}

/* Footer */
footer{
	background-color: #FE9E0C;
	padding: 20px;
	text-align: center;
}
.texto-footer{
	color: white;
	font-size: 20px;
}