{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="shorcut icon" href={% static "platos/img/descarga.jpg" %}>
	<title>Pollito con papas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href={% static "platos/css/mis-estilos.css" %}>
</head>
<body>
	<header>
		<div class="bloque-logotipo">
			<img class="imagen-logo" src={% static "platos/img/logo-pollito-con-papas.png" %}>
		</div>
		<div class="bloque-menu">
			<nav>
				<a class="item-menu-1" href="/inicio/#seccion-incio">Inicio</a> | <a class="item-menu" href="/inicio/#seccion-platos">Platos</a> | <a class="item-menu" href="/contacto/">Contacto</a>
			</nav>
		</div>
	</header>
    <main>
        <section id="seccion-contacto">
            <div class="seccion-contacto-titulo">
                <h2>- Contacto -</h2>
            </div>
            <form action="/inicio/" method="POST">{% csrf_token %}
                <input class="entrada-texto" type="text" name="nombre" placeholder="Nombre"><br>
                <input class="entrada-texto" type="email" name="email" placeholder="Email"><br>
                <textarea class="entrada-texto-grande" name="mensaje" placeholder="Mensaje"></textarea><br>
                <input class="boton-formulario" type="submit" name="" rows="3">
            </form>
        </section>
    </main>
    <footer>
        <p class="texto-footer">Hecho con <3 por Sebastian</p>
    </footer>
</body>
</html>