{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="shorcut icon" href={% static "platos/img/descarga.jpg" %}>
	<title>Pollito con papas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href={% static "platos/css/mis-estilos.css" %}>
</head>
<body>
	<header>
		<div class="bloque-logotipo">
			<img class="imagen-logo" src={% static "platos/img/logo-pollito-con-papas.png" %}>
		</div>
		<div class="bloque-menu">
			<nav>
				<a class="item-menu-1" href="#seccion-incio">Inicio</a> | <a class="item-menu" href="#seccion-platos">Platos</a> | <a class="item-menu" href="/contacto/">Contacto</a>
			</nav>
		</div>
	</header>

	<main>
		<section id="seccion-incio">
			<div class="bloque-inicio-texto">
				<h1 class="texto-titulo">Tu comida favorita estés donde estés</h1>
			<p class="texto-descripcion">Tiempo máximo de entrega: 01 hora</p>
			<button class="boton-inicio">Ver platos</button>
			</div>
			<div class="bloque-inicio-imagen">
				<img class="imagen-inicio" src={% static "platos/img/pollito-con-papas.png" %}>
			</div>
		</section>

		<section id="seccion-platos">

			<div class="seccion-platos-titulo">
				<h2>- Platos de hoy -</h2>
			</div>

            {% if plato_lista %}
                
                {% for plato in plato_lista %}
                    <article>
                        <img class="imagen-plato" src="{{ plato.imagen.url }}">
                        <div class="descripcion-plato">
                            <h3 class="nombre-plato">{{ plato.nombre }}</h3>
                            <p class="precio-plato">S/.{{ plato.precio }}</p>
                            <a href=""><button class="boton-plato">Hacer pedido</button></a>
                        </div>
                    </article>

                {% endfor %}
            {% else %}
                <p>No hay datos</p>
            {% endif %}    

            
		</section>
	</main>
	<footer>
		<p class="texto-footer">Hecho con <3 por Sebastian</p>
	</footer>
</body>
</html>